h1 {
    color: rgb(0, 140, 225);
    text-align: center;
}
h5 {
    text-align: center;
    color: red;
}
h2 {
    text-align: center;
    color: rgb(0, 140, 225);
    margin-top: 3%;
}
.baris-1-gambar {
    width: 160px;
    height: 200px;
    margin-left: 44%;
    margin-top: -7%;
}
.cuma-garis-pendek {
    height: 5px;
    width: 90%;
    background: black;
    margin-left: 5%;
    margin-top: 5%;
}
.cuma-pengenalan {
    text-align: center;
    margin-top: 1%;
}
.baris-2 {
    text-align: center;
    padding: 40px 25% 50px 25%;
}

.baris-2-grid {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-top: 50px;
}
h3 {
    color: rgb(0, 140, 225);
}